:root {
  --background: #0F0F0F;
  --card: #1A1A1A;
  --primary: #9600C8;
  --subtext: #88888C;
  --accent-1: #2E2E2E;
  --accent-2: #333333;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

*::selection {
  background: rgba(150, 0, 200, 0.42);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(225deg, rgba(15,15,15,1) 0%, rgba(37,36,39,1) 100%);
}
